@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/Muli-Bold/Muli-Bold.eot");
  src: url("../fonts/Muli-Bold/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Bold/Muli-Bold.otf") format("opentype"),
    url("../fonts/Muli-Bold/Muli-Bold.svg") format("svg"),
    url("../fonts/Muli-Bold/Muli-Bold.ttf") format("truetype"),
    url("../fonts/Muli-Bold/Muli-Bold.woff") format("woff"),
    url("../fonts/Muli-Bold/Muli-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/Muli-Regular/Muli-Regular.eot");
  src: url("../fonts/Muli-Regular/Muli-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Regular/Muli-Regular.otf") format("opentype"),
    url("../fonts/Muli-Regular/Muli-Regular.svg") format("svg"),
    url("../fonts/Muli-Regular/Muli-Regular.ttf") format("truetype"),
    url("../fonts/Muli-Regular/Muli-Regular.woff") format("woff"),
    url("../fonts/Muli-Regular/Muli-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}